{% extends "bases\base.html" %}

{% block titulo %}
Objetos
{% endblock %}

{% block header%}
Pagina de Objetos
{% endblock %}

{% block conteudo %}
<form method="post">
    {% csrf_token %}
    <p>{{ form.nome.label_tag }} {{ form.nome }}</p>
    <p>{{ form.email.label_tag }} {{ form.email }}</p>
    <p>{{ form.telefone.label_tag }} {{ form.telefone }}</p>
    <p>{{ form.matricula.label_tag }} {{ form.matricula }}</p>
    <p>Senha: {{ form.password1 }}</p>
    <p>Repita a senha: {{ form.password2 }}</p>
    <input type="submit" value="Cadastrar">
    </form>

{% endblock %}