{% extends "bases\base.html" %}
{% load widget_tweaks %}

{% block titulo %}
User
{% endblock %}

{% block header%}
Pagina de cadastro de usuários
{% endblock %}

{% block conteudo %}
<section>
    <div class="row">
      <div class="col-md-8 offset-md-2 mb-5">
        <!--Formulario para novo cadastro-->
        <form method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-4 mb-3">
              <label for="Nome">Nome</label>
              {% render_field form.nome class="form-control" id="Nome"  %}
              <div class="invalid-feedback">
                Por favor, insira o seu nome.
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="matricula">Matrícula</label>
              {% render_field form.matricula class="form-control" id="Prazo" placeholder="" value=""  %}
              
              <div class="invalid-feedback">
                Por favor, insira a Matrícula.
              </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="tel">Telefone</label>
                {% render_field form.telefone class="form-control" id="tel" placeholder="" value=""  %}
                
                <div class="invalid-feedback">
                  Por favor, insira o seu telefone.
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-3">
                <label for="email">Email</label>
                {% render_field form.email class="form-control" id="exampleInputEmail1" %}
                <div class="invalid-feedback">
                  Por favor, insira o email.
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <label for="Senha" class="form-label">Senha</label>
                {% render_field form.password1 class="form-control" id="Senha" %}
                <div class="invalid-feedback">
                  Por favor, insira a senha.
                </div>
              </div>
              <div class="col-md-6">
                <label for="Senha2" class="form-label">Confirmação de senha</label>
                {% render_field form.password2 class="form-control" id="Senha2"%}
                <div class="invalid-feedback">
                  Por favor, confirme a senha.
                </div>
              </div>
              </div>
          </div>
        </div>
  
          <div class="row">
          <div class="mb-3"></div>

        </div>
  
         <hr class="mb-4">
          <div class="mb-4 d-flex justify-content-center">
            <button class="btn btn-block position-relative" type="submit">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  
      
  </section>

{% endblock %}

{% block migalhas1 %}
<nav class= "m-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'perfil'%}">Início</a></li>
      <li class="breadcrumb-item"><a href="{% url 'usuario_listar'%}">Usuários</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cadastro de usuário</li>
    </ol>
  </nav>
{% endblock %}