{% extends "bases\base.html" %}

{% block titulo %}
COAPAC
{% endblock %}

{% block header %}
Empréstimos
{% endblock %}

{% block conteudo %}
<section >
    <div class="row mb-5">
      <!--Título desse linha-->
      <h3 class="mt-3"><span class="fw-normal">Cadastros</span></h3>
      <div class="col-md-6 mb-4">
        <!--Card para novos cadastros de objetos-->
        <div class="card h-100">
          <div class="card-body text-center">
            <div class="icon icon-xl mx-auto mb-4 py-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
                <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/>
                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
              </svg>
            </div>
            <a href="{% url 'emprestimo_cadastro' %}" class="stretched-link" ><h4 class="mt-3"><span class="fw-normal">Novo</span></h4></a>
            <p class="m-4">Cadastre um novo empréstimo</p>
          </div>
        </div>
      </div>


      <div class="col-md-6 mb-4">
          <!--Card para devoluções-->
          <div class="card h-100">
            <div class="card-body text-center">
              <div class="icon icon-xl mx-auto mb-4 py-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-file-earmark-minus" viewBox="0 0 16 16">
                  <path d="M5.5 9a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
                  <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                </svg>
              </div>
              <a href="{% url 'devolucao' %}" class="stretched-link" ><h4 class="mt-3"><span class="fw-normal">Devolução</span></h4></a>
              <p class="m-4">Cadastre a devolução</p>
            </div>
          </div>
        </div>
    </div>

    <div class="row mb-5">
      <!--Título desse linha-->
      <h3 class="mt-3"><span class="fw-normal">Dia a dia</span></h3>
        <div class="col-md-4 mb-4">
          <!--Card novos empréstimos-->
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-heading"><span class="fw-normal">Novos</span></h5>
            </div>
            <div class="card-body">
              <h2 class="mb-3">+50</h2>
              <div class="row">
                <div class="col-auto">
                  <p class="text-muted text-sm mt-2">Total:</p>
                </div>
                <div class="col text-end text-lg">20</div>
              </div>
              <div class="progress">
                <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width:78%">                           </div>
              </div>
            </div>
          </div>
        </div>
            
        <div class="col-md-4 mb-4">
          <!--Card empréstimos já devolvidos-->
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-heading"><span class="fw-normal">Devolvidos</span></h5>
            </div>
            <div class="card-body">
              <h2 class="mb-3">-15</h2>
              <div class="row">
                <div class="col-auto">
                  <p class="text-muted text-sm mt-2">Total:</p>
                </div>
                <div class="col text-end text-lg">40</div>
              </div>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100" style="width:83%">                           </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-4">
          <!--Card empréstimos pendentes-->
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-heading"><span class="fw-normal">Pendentes</span></h5>
            </div>
            <div class="card-body">
              <h2 class="mb-3">+5</h2>
              <div class="row">
                <div class="col-auto">
                  <p class="text-muted text-sm mt-2">Total:</p>
                </div>
                <div class="col text-end text-lg">300</div>
              </div>
              <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:45%">                           </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
      <!--Título desse linha-->
      <h3 class="mt-3"><span class="fw-normal">Listagem</span></h3>
      <div class="col-12 col-lg-8 col-xxl-9 d-flex mb-4">
          <!--Card para a listagem-->
          <div class="card flex-fill">
            <div class="card-header">
                <a href="{% url 'emprestimo_listar' %}"><h4 class="card-title">Listar</h4></a>
            </div>
            <div class="table-responsive">
              <table id="datatables-dashboard-projects " class="table table-hover my-0">
                <thead>
                  <tr>
                    <th scope="col-2">Matrícula</th>
                    <th scope="col-2">Nome</th>
                    <th scope="col-2">Objeto</th>
                    <th scope="col-2">Status</th>
                    <th scope="col-2">Responsável</th>
                  </tr>
                </thead>
                  <tbody>
                    {% for emprestimo in listar_emprestimo %}
                    <tr>
                      <td scope="col-2">{{emprestimo.matricula}}</td>
                      <td scope="col-2">{{emprestimo.nome_servidor}}</td>
                      <td scope="col-2">{{emprestimo.objeto}}</td>
                      <td scope="col-2">Status</th>
                      <td scope="col-2">{{emprestimo.responsavel}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                      <td scope="col-2" colspan="4">Nenhum objeto emprestado</td>
                      
                    </tr>
                    
                    {% endfor %}
                  </tbody>
              </table>
            </div>
          </div>
      </div>

      <div class="col-12 col-lg-4 col-xxl-3 d-flex mb-4">
        <!--Card para grafico de saída de objetos-->
        <div class="card flex-fill ">
          <div class="card-header">
            <h4 class="card-title">Saída de objetos</h4>
          </div>
          <div class="card-body d-flex">
            
          </div>
        </div>
      </div>      
            
    </div>
  </section>
{% endblock %}

{% block migalhas1 %}
<nav class= "m-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'perfil'%}">Início</a></li>
      <li class="breadcrumb-item active" aria-current="page">Empréstimos</li>
    </ol>
  </nav>
{% endblock %}
